
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

html,
  body {
    .daterangepicker{
      z-index: 555;
  }
}

body, #root, .wrapper {
  min-height: 100vh !important;
  bottom: 0;
}